.MenuButton {
  border-style: solid;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.3);
  height: 100%;
}
.MenuButton svg{
  height: 100%;
  fill: white;
}

.MenuButton:hover {
  background-color: rgba(255,255,255,0.6);
  cursor: pointer;
}

.MenuButton:hover svg{
  fill: black;
}

@media (min-width:500px) {
  .mobileOnly {
    display: none;
  }
}
